## Sentimental Analysis

### EDA

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("train.csv" ,encoding='iso-8859-1')

In [4]:
df.head()

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048572 entries, 0 to 1048571
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   polarity of tweet   1048572 non-null  int64
 1   id of the tweet     1048572 non-null  int64
 2   date of the tweet   1048572 non-null  object
 3   query               1048572 non-null  object
 4   user                1048572 non-null  object
 5   text of the tweet   1048572 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

In [6]:
df.describe()

       polarity of tweet   id of the tweet
count        1.048572e+06     1.048572e+06
mean         9.482458e-01     1.976168e+09
std          1.701122e+00     2.300567e+08
min          0.000000e+00     1.467811e+09
25%          0.000000e+00     1.824526e+09
50%          0.000000e+00     1.990870e+09
75%          0.000000e+00     2.198903e+09
max          4.000000e+00     2.329206e+09

In [7]:
df.shape

(1048572, 6)

#### Missing Values

In [8]:
[feature for feature in df.columns if df[feature].isnull().sum()>=1]

[]

#### Insights from dataset

In [9]:
print(df.columns)
df.columns = df.columns.str.strip()

Index(['polarity of tweet ', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet '],
      dtype='object')

In [10]:
# different classes of target label
df['polarity of tweet'].value_counts()

polarity of tweet
0    799996
4    248576
Name: count, dtype: int64

In [11]:
# which columns are not important remove them 
df.head(2)

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

In [12]:
# except polarity of tweet and text of the tweet all other are not important column to us for sentimental analysis
df.drop(columns=['id of the tweet' , 'date of the tweet' , 'query' , 'user'],inplace=True)

In [13]:
df.head(2)

   polarity of tweet                                  text of the tweet
0                  0  is upset that he can't update his Facebook by ...
1                  0  @Kenichan I dived many times for the ball. Man...

#### Imbalanced dataset

In [14]:
df['polarity of tweet'].value_counts()

polarity of tweet
0    799996
4    248576
Name: count, dtype: int64

In [15]:
# # spliting the data into independent feature and target label
# X = df['text of the tweet']
# Y = df['polarity of tweet']

In [16]:
# # to balance the dataset 
# from imblearn.combine import SMOTETomek
# smt = SMOTETomek(random_state=42)
# X_res, y_res = smt.fit_resample(X, Y)
# # ValueError: could not convert string to float: "is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [17]:
# Y_bal.value_counts()

### 

Machine Learning Algorithm

In [18]:
# Supervised Learning -> Neural Network in tensorflow , NLP

#### Preprocess the text data

In [19]:
# !pip install nltk

In [20]:
df.head(2)

   polarity of tweet                                  text of the tweet
0                  0  is upset that he can't update his Facebook by ...
1                  0  @Kenichan I dived many times for the ball. Man...

In [21]:
import nltk

In [22]:
df['text of the tweet'][1]

'@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [23]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\ROHIT
[nltk_data]     MOTWANI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [25]:
removed = []
stopword = stopwords.words('english')
print(len(stopword))
for i in stopword:
    if "n't" in i:
        # print(i)
        removed.append(i)
    if i == "not":
        # print(i)
        removed.append(i)
for i in removed:
    print(i)

179
not
don't
aren't
couldn't
didn't
doesn't
hadn't
hasn't
haven't
isn't
mightn't
mustn't
needn't
shan't
shouldn't
wasn't
weren't
won't
wouldn't

In [26]:
for i in removed:
    stopword.remove(i)

In [27]:
print(stopword)
print(len(stopword))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hasn', 'haven', 'isn', 'ma', 'mightn', 'mustn', 'needn', 'shan', 'shouldn', 'wasn', 'weren', 'won', 'wouldn']
160

In [28]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\ROHIT
[nltk_data]     MOTWANI\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [29]:
df.columns

Index(['polarity of tweet', 'text of the tweet'], dtype='object')

In [58]:
import re
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def preprocess(content):
    # sentence = nltk.sent_tokenize(i)
    sentence = re.sub(r'[^a-zA-Z\']',' ',content)
    sentence = re.sub(r'\s+', ' ', sentence).strip()
    sentence = sentence.lower()
    # sentence = nltk.word_tokenize(sentence)
    sentence = sentence.split()
    sentence = [lemmatizer.lemmatize(word) for word in sentence if not word in stopword]
    sentence = ' '.join(sentence)
    return sentence

In [59]:
df['preprocess_data'] = df['text of the tweet'].apply(preprocess)

In [60]:
df.head()

,polarity of tweet,text of the tweet,preprocess_data
0,0,is upset that he can't update his Facebook by ...,upset can't update facebook texting might cry ...
1,0,@Kenichan I dived many times for the ball. Man...,kenichan dived many time ball managed save res...
2,0,my whole body feels itchy and like its on fire,whole body feel itchy like fire
3,0,"@nationwideclass no, it's not behaving at all....",nationwideclass not behaving i'm mad can't see
4,0,@Kwesidei not the whole crew,kwesidei not whole crew

In [61]:
df['preprocess_data'][0]

"upset can't update facebook texting might cry result school today also blah"

In [62]:
df['text of the tweet'][0]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
x = cv.fit_transform(df['preprocess_data'])
# x1 = cv.transform(df['preprocess_data']) # for test set

In [64]:
# independent feature and target variable
X = x
Y = df['polarity of tweet'].values

In [ ]:
# Implementing Oversampling for Handling Imbalanced 
from imblearn.combine import SMOTETomek
smk = SMOTETomek(random_state=42)
X_res,y_res=smk.fit_resample(X,Y)

In [ ]:
from collections import Counter
print('Original dataset shape {}'.format(Counter(Y)))
print('Resampled dataset shape {}'.format(Counter(y_res)))

In [ ]:
## split train and test data
X_train,X_test,Y_train,Y_test = train_test_split(X_res,Y_res,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
from tensorflow.keras.layers import Embedding 
from tensorflow.keras.preprocessing.sequence import pad_sequence
from tensorflow.keras.models import Sequential
sent_length = 
embedded_docs = pad_sequences(cv,padding ='pre',maxlen=sent_length)

In [ ]:
# Step 4: Build LSTM model
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=vocab_size, output_dim=embedding_dim, input_length=max_length),
    tf.keras.layers.LSTM(units=64, return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(units=32),
    tf.keras.layers.Dense(2, activation='sigmoid')
])

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Step 5: Train the model
history = model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

# Step 6: Plot validation loss
plt.plot(history.history['val_loss'])
plt.xlabel('Epochs')
plt.ylabel('Validation Loss')
plt.title('Validation Loss over Epochs')
plt.show()

# Step 7: Prediction with test set
# predictions = model.predict(X_test)